
/* Utilities */

.u-title{
	border-bottom: 5px dashed #00CCFF;
	color: #00CCFF;
	font-size: 1.5em;
	font-weight: normal;
	padding-bottom: 0.5em;
	text-align: center;

}



/*	MainMenu */

.MainMenu{
	background: #1E1E1E;
	height:3.75em;
	left: 0;
	right: 0;
	position: fixed;
	text-align: center;
	top: 0;
}

.MainMenu-list{
	margin: 0;
	padding: 0;
}

.MainMenu-item{
	display:inline-block;
}

.MainMenu-link{
	background: rgb(0, 187, 255);
	border: none;
	border-radius: 1em;
	color: white;
	line-height: 3.75em;
	margin-right: 0.8em;
	padding: 0.5em 1em;
	text-decoration: none;
}

.MainMenu-link:hover{
	background: #1E1E1E;
	color: white;
	-webkit-transition: 0.5s;
}

/* Header */

.Header{
	background-image: url('../images/portada2.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 3.75em;
	text-align: center;
	padding: 1.2em 0;

}

.Header-imageContainer{
	margin: 0;
}

.Header-image{
	border: 5px solid white;
	border-radius: 10px 80px 10px 80px;

}

.Header-name,
.Header-link{
	color: white;
}

.Header-link{
	font-size: 2.2em;
	font-weight: bold;
	text-decoration: none;
}

.Header-name{
	font-size: 0.8em;
	font-weight: 300;
	margin: 0;
}

/* Profile */

.Profile{
	text-align: center;
}

.Profile-link{
	background: orange;
	border-radius: 2em;
	color: white;
	margin: 0.5em;
	padding: 0.5em 1em;
	text-decoration: none;

}
.Profile .Profile-title {
	font-size: 0.7em;

}

.Profile .Profile-description{
	color: black;
	font-size: 0.6em;
}

/*  Work */


.Work{
	margin-top: 2em;
	text-align: center;
}

.Work-item{
	display: inline-block;
	margin-right: 1.8em;
	margin-bottom: 1.8em;
}

.Work-imageContainer{
	margin: 0;
}

.Work-description{
	color: #515151;
	font-size: 1.1em;
	font-style: italic;
}

/* Footer */

.Footer{
	background-image: url('../images/footer.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/*margin-bottom: 500px;*/
	padding: 2em 0;
	text-align: center;
}

.Footer-form{
	display: inline-block;
	text-align: center;

} 

.Footer-left{
	display:inline-block;
	text-align: center;
	vertical-align:top;
	width: 32em;
}

.Footer-title{
	font-size: 1.5em;
	font-style: italic;
}

.Footer-formInput,
.Footer-textarea{
	background: white;
	border: none;
	border-radius: 2em;
	display: block;
	margin: 0 auto 1em;
	padding: 0.5em ;

}

.Footer-textarea{
	resize: none;
}

.Footer-button{
	background: orange;
	border: none;
	border-radius: 1em;
	color: white;
	padding: 0.5em 1em;
}