<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<title>Portfolio Personal</title>
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/estilos.css">

</head>
<body>
	<header id="yo" class="Header">
		<nav class="MainMenu">
			<ul class="MainMenu-list">
				<li class="MainMenu-item"><a class="MainMenu-link" href="#yo">Yo</a></li>
				<li class="MainMenu-item"><a class="MainMenu-link" href="#perfil">Perfil</a></li>
				<li class="MainMenu-item"><a class="MainMenu-link" href="#trabajo">Trabajos</a></li>
				<li class="MainMenu-item"><a class="MainMenu-link" href="#contacto">Contactos</a></li>
			</ul>	
		</nav>
		<figure class="Header-imageContainer">
			<img src="../static/images/avatar2.jpg" alt="Imagen personal" class="Header-image" />
			<figcaption class="Header-imageDescription">
				<a class="Header-link" href="http://twitter.com/markyhuevone" target="_blank">@Markyhuevone
			</figcaption>
			<p class="Header-name">Marcos Salazar</p>				
		</figure>
	</header>
	<section id="perfil" class="Profile">
		<h2 class="Profile-title u-title">Mi perfil</h2>
		<p class="Profile-description">
			Hola! Si llegaste hasta aqui puedes ver mi portfolio y contactarme
		</p>
		<a class="Profile-link" href="http://twitter.com/markyhuevone" target="_blank">@markyhuevone</a>
		<a class="Profile-link" href="http://facebook.com/marky.huevone" target="_blank">Marky Huevone</a>
	</section>
	<section id="trabajo" class="Work">
	<h2 class="Work-title u-title">Mi trabajo</h2>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/images/proyecto.jpg" alt="Esto es la descripcion de mi imagen">
				<figcaption class="Work-description">Paginas de Prueba
				</figcaption>
			</figure>	
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/images/proyecto.jpg" alt="Esto es la descripcion de mi imagen">
				<figcaption class="Work-description">Paginas de Prueba
				</figcaption>
			</figure>	
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/images/proyecto.jpg" alt="Esto es la descripcion de mi imagen">
				<figcaption class="Work-description">Paginas de Prueba
				</figcaption>
			</figure>	
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/images/proyecto.jpg" alt="Esto es la descripcion de mi imagen">
				<figcaption class="Work-description">Paginas de Prueba
				</figcaption>
			</figure>	
		</article>
		<article class="Work-item">
			<figure class="Work-imageContainer">
				<img class="Work-image" src="../static/images/proyecto.jpg" alt="Esto es la descripcion de mi imagen">
				<figcaption class="Work-description">Paginas de Prueba
				</figcaption>
			</figure>	
		</article>
	</section>
	<footer id="contacto" class="Footer">
		<div class="Footer-left">
		<h3 class="Footer-title">Contacto</h3>
		<p class="Footer-description">Si tienes alguna sugerencia o quieres trabajar conmigo ponte en contacto con este formulario</p>
		</div>
		<form action="" class="Footer-form">
			<input class="Footer-formInput" type="text" name="nombre" placeholder="Nombre*" required="required">
			<input class="Footer-formInput" type="email" name="email" placeholder="E-mail*" required="required">
			<textarea class="Footer-textarea"name="" id="" cols="30" rows="10" placeholder="Motivo"></textarea>
			<button class="Footer-button" type="submit" name="contactame">Contactame</button>
		</form>
	</footer>
</body>
</html>